/* Base */



body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    font-family: inherit;
}


.section-header {
    width: 1440px;
    border: 4px solid var(--c-brand);
    padding: 24px;
    border-bottom: 1px solid #e7e9fc;
}


.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-nav {
    display: flex;
    align-items: center;
}


.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}


.accent-logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif
}


.contact-nav-link {
    display: flex;
    gap: 40px;

}


.nav-link {
    color: #2E2F42;
    /* Body Medium */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}


.address {
    font-style: normal;
}

.list-address {
    display: flex;
    gap: 40px;
}


.contact-link {
    color: #434455;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}


/* Hero section */

.hero-section {
    background: #2e2f42;
    /* TODO changes background color */
    padding-top: 188px;
    padding-bottom: 188px;

}

.hero-title {
    color: #FFF;
    text-align: center;
    /* Header 1 */
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
    max-width: 496px;
}



.hero-button {
    color: #FFF;
    background: #4D5AE5;
    cursor: pointer;
    /* Button Text */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Soft Skils section */

.information {
    padding-top: 120px;
    padding-bottom: 120px;

}

.soft-skils {
    color: #2E2F42;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
    margin-bottom: 8px;


}

.class-info {
    display: flex;
    gap: 24px;
}

.list-info {
    flex: basis calc((100% - 72px) / 4);
}

.soft-skils-information {
    color: #434455;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

/* Our team section */

.color-section {
    background-color: #F4F4FD;
}

.our-team {
    color: #2E2F42;
    text-align: center;
    /* Header 2 */
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.color-class {
    background: #FFF;
}


.employee-names {
    color: #2E2F42;
    text-align: center;
    background-color: #F4F4FD;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.job-title {
    color: #434455;
    text-align: center;
    background-color: #FFFFFF;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

/* Our Portfolio section */

.our-portfolio {
    color: #2E2F42;
    text-align: center;
    /* Header 2 */
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.our-portfolio-options {
    color: #2E2F42;
    /* Header 3 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.our-portfolio-occupation {
    color: #434455;
    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

/* Footer */

.footer-section {
    background: #2E2F42;
}

.footer-title {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.accent-logo-footer {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
}


.footer-description {
    color: #F4F4FD;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}